.container {
  display: grid;
  height: 100vh;
  font-family: "Acme", sans-serif;
  align-content: center;
  row-gap: 40px;
}
.container div:nth-of-type(1) {
  display: grid;
  justify-items: center;
  align-items: end;
}
.circle-formation {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
}
.square {
  width: 200px;
  height: 200px;
  background-color: black;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 250px solid black;
}
.hide {
  opacity: 0;
}
.shape,
.color {
  display: grid;
  grid-template-columns: max-content repeat(3, minmax(max-content, 200px));
  align-items: center;
  column-gap: 20px;
  justify-content: center;
}
button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  font-family: "Acme", sans-serif;
  font-size: 16px;
}
button:active {
  filter: brightness(0.9);
}
p {
  font-size: 35px;
  font-weight: bold;
  align-items: center;
  margin: 0;
}
button {
  font-size: 23px;
}
.blue {
  background-color: #7db5e8;
  color: white;
}
.green {
  background-color: #5cd68d;
  color: white;
}
.red {
  background-color: #ff7d7d;
  color: white;
}
