.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 35px;
  grid-template-rows: repeat(4, max-content);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.circle-container {
  display: grid;
}
.circle {
  display: grid;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #66a3ff;

  /* position: absolute;
  top: 20px;
  left: 150px; */
}
.passport {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.location {
  grid-row: 2;
}
.artist {
  grid-column: 1;
  grid-row: 3;
}
.era {
  grid-column: 2;
  grid-row: 3;
}
.age {
  grid-row: 4;
}
.font-lg {
  font-size: 35px;
}
.font-sm {
  font-size: 16px;
}
