.container-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  grid-template-rows: repeat(4, max-content);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.circle-container {
  display: grid;
}
.circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #66a3ff;
  left: 160px;
  top: 20px;
}
.font-lg {
  font-size: 35px;
}
.font-sm {
  font-size: 16px;
}
