.godfather {
  display: grid;
  justify-items: center;
  /* align-items: center; */
  height:80vh;
}
.container-1 {
  display: grid;
  grid-template-columns: max-content max-content;
  line-height: 35px;
  grid-template-rows: repeat(4, max-content);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  column-gap: 20px;
}
.circle-container {
  display: grid;
  justify-items: end;
}
.circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #66a3ff;
}
.passport {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.location {
  grid-row: 2;
}
.artist {
  grid-column: 1;
  grid-row: 3;
}
.era {
  grid-column: 2;
  grid-row: 3;
}
.age {
  grid-row: 4;
}
.font-lg {
  font-size: 35px;
}
.font-sm {
  font-size: 16px;
}
